body {
    margin:0;
    /* background-image: url('images/pexels-didsss-2508565.jpg');
    background-size: cover;
    background-attachment: fixed; */
}
a {
    color:pink;
    text-decoration: none;
}
header {
    background-color:#902222;
    color:white;
}
/* Here is my comment */
h1 {
    font-size: 50px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1rem;
    text-shadow: 5px 5px 1px black;
    text-transform: uppercase;
    text-align: center;
    margin:0;
}
p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    text-indent:50px;
}
span {
    font-size:1rem;
}
#bluetext {
    color:blue;
}
.greentext {
    color:green;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
nav {
    border:2px solid #902222;
    border-radius: 20px;
}
nav ul li {
    display:inline-block;
    padding:10px 20px;
    /* margin: 30px 30px 30px 30px; */
    background-color:grey;
}
nav ul li a {
    color:#fff;
}
.myimage {
    width:300px;
}
.backgroundimage {
    height:300px;
    background-image: url('images/pexels-didsss-2508565.jpg');
    background-size:cover;
    background-position: 50% 95%;
    background-repeat: no-repeat;
}