a {
    color:pink;
    text-decoration: none;
}
header {
    background-color:#902222;
    color:white;
}
h1 {
    font-size: 50px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1rem;
    text-shadow: 5px 5px 1px black;
    text-transform: uppercase;
    text-align: center;
}
p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    text-indent:50px;
}
span {
    font-size:1rem;
}
#bluetext {
    color:blue;
}
.greentext {
    color:green;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}